.DS_Store
*.o
*.a
build/*
.clangd
.cache/*
subprojects/CLI11-2.6.2/*
subprojects/packagecache/*
subprojects/argparse/*
.vscode/*

build
subprojects/CLI11-2.6.2
subprojects/packagecache
subprojects/.wraplock
.vscode